.page {
  display: flex;

  min-height: 100vh;

  background: $black-5;
}

.contentWrapper {
  display: flex;
  gap: 32px;

  position: relative;

  box-sizing: border-box;

  max-width: $bp-desktop;
  width: 100%;

  margin: 0 auto;
}

.imageSection {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb {
  width: 100%;
  height: auto;
  max-width: 560px;
  object-fit: contain;
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 64px;
}

.scoreBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 32px;
  font-weight: 600;
  line-height: 116%;

  color: $black-100;

  opacity: 0.5;
}

.title {
  font-size: 56px;
  font-weight: 600;
  line-height: 116%;

  color: $black-100;
}
